
.text{
	color:#FFCC00;

}


.folded-corner:hover .text{
	visibility: visible;
	color: #003366;
}
.Services-tab{
	margin-top:20px;
     float: left;
    clear: none; 
    text-align: center;
	

}

/*
  nav link items
*/
.folded-corner{
  padding: 25px 25px;
  position: relative;
  font-size: 90%;
  text-decoration: none;
  color: #999; 
  background: transparent;
  transition: all ease .5s;
  border: 2px solid #FFCC00;
}
.folded-corner:hover{
	background-color:#FFCC00;
}

/*
  paper fold corner
*/

.folded-corner:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-style: solid;
  border-width: 0 0px 0px 0;
  border-color: #ddd #003366;
  transition: all ease .3s;
}

/*
  on li hover make paper fold larger
*/
.folded-corner:hover:before {
	background-color: #D00003;
  border-width: 0 50px 50px 0;
  border-color: #CCCCCC #003366;
  
}

.service_tab_1{
	background-color: #003366;
     
    
}
.service_tab_1:hover .fa-chalkboard-teacher{
    color: #003366;
    transform: rotate(360deg) scale(1.5);
}


.fa-chalkboard-teacher{
    
	color: #FFCC00;
	display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    font-size-adjust: none;
    font-stretch: normal;
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    text-rendering: auto;
    transition: all .65s linear 0s;
    text-align: center;
    align-content: center;
    transition: all 1s cubic-bezier(.99,.82,.11,1.41);
}

  input .sizecheckbox{ 
            width: 100px; 
            height: 100px; 
        } 