BODY {
  font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  
  background-color: #CCCCCC;
}

.button1 {
    border-radius: 10px;
}
.table 
{
    float: left;
    color: #003366;
    text-align: left;
    background-color:#FFf;
}
.container
{ 
    top: auto;
    flow-from: inherit;
    flow-into: none;
    width: 35%;
    margin: 5px auto;
    margin-left: 32%;
    margin-right: 32%;
}
.preview
{
    padding: 10px;
    position: relative;
}

.preview i
{
    color: #003366;
    font-size: 35px;
    transform: translate(50px,100px);
}

.preview-img
{
    border-radius: 100%;
    box-shadow: 0px 0px 5px 2px #003366;
}

.browse-button
{
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    position: absolute; /* Tweak the position property if the element seems to be unfit */
    top: 9px;
    left: 85px;
    background: linear-gradient(180deg, transparent, #003366);
    opacity: 0;
    transition: 0.3s ease;
}

.browse-button:hover
{
    opacity: 1;
}

.browse-input
{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    transform: translate(-1px,-26px);
    opacity: 0;
}
.name:hover {
    background-color: #FFCC00;
    color: black;
}

 td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #003366 ;
  color: white;
}
.name
{color: #FFCC00;}

table {
   
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}
.button2
{
    background-color:#003366 ;
    color: #FFCC00;
    border-bottom-color:#CCCCCC;
    text-align: center;
    text-justify: none;
    margin-top: 10px;
    float:right;
    
    height: 35px;
    width: 98px;
    border-radius: 20px;
}
.button2:hover
{
    background-color: #FFCC00;
    color: #003366;
}